/* Landing */

.landing-grid {
    background: #29ABE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4F00BC, #29ABE2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top, #4F00BC, #29ABE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

/*Burger menu
document.querySelector('div.mdl-layout__drawer-button');
*/ 

i.material-icons{
    color: #4F00BC;
    padding: 4px;
    border-radius: 25px;
    background-color: #fff;
}
    
.underline:hover {
    border-bottom: 1px solid currentColor;
    opacity: .8;
}

.banner-text {
    width: 75%;
    margin: auto;
    margin-top: 12%;
}

.banner-text h1 {
    font-size: calc(2.6em + 2.3vw);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.banner-text p {
    color: #fff;
    font-size: calc(0.9em + 0.6vw);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 3.5em;
}

.social-links i {
    color: #fff;
    font-size: calc(1.8em + 1.5vw);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*.social-links i:hover {
    transition: all 1s ease;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}*/

.social-links i:hover {
    color: #00f9ff;
}

/*
.social-links a:nth-of-type(2) i:hover {
    color: #000;
}

.social-links a:nth-of-type(3) i:hover {
    color: #1da1f2;
}

.social-links a:nth-of-type(4) i:hover {
    color: #0077b5;
}*/

/* About Page */

.about-body {
    position: relative;
    margin: auto;
    width: 100%;
    justify-content: center;
    padding-top: 7%;
}

.about-grid {
    text-align: center;
    justify-content: center;
    width: 70%;
    background: #fff;
    color: #000;
}

.about-grid img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.about-grid p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: #2F4F4F;
}

.contact-list i {
    font-size: 23px;
    padding-right: 1em;
    color: #2F4F4F;
}

div.mdl-grid.about-grid a{
    color: #2F4F4F;
}

li.mdl-list__item {
    padding-left: 0;
}

div.contact-list {
    padding-left: 0;
}

/* Projects Page */

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
}

.mdl-button.mdl-button--colored a {
    color: #2F4F4F;
    text-transform: none;
}

.mdl-shadow--16dp{
    box-shadow: none !important;
}

a.mdl-tabs__tab {
    text-transform: none;
}

/* Resume Page*/

.resume {
    height: calc(100vh - 67px);
}


/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Mobile */

@media screen and (max-width: 1024px) {

    /* Landing */

    .social-links {
        width: 100%;
    }

    .banner-text {
        margin-top: 20%;
    }
    
    /*rotate background*/

    .landing-grid {
        background: #29ABE2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #4F00BC, #29ABE2); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #4F00BC, #29ABE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    /* About */

    .about-body {
        padding-top: 15%;
    }

    .about-grid {
        width: 80%;
    }

    .contact-list:nth-of-type(1) {
        padding-left: 1.5em;
    }

    .mdl-list__item .mdl-list__item-primary-content {
        justify-content: center;
    }
    
    /* Projects */

    .category-tabs {
        padding-top: 2em;
    }

    a.mdl-tabs__tab {
        font-size: 12px;
        padding: 0 10px 0 10px;
    }   
}

/*iPhone 6,7,8 landsape*/

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    
    .banner-text {
        margin-top: 7%;
    }

    .banner-text h1 {
        font-size: calc(2.0em + 1.7vw);
    }

    .about-body {
        padding-top: 8%;
    }
}

/*iPhone 6,7,8 + landsape*/

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
    
     .banner-text {
         margin-top: 7%;
     }

     .banner-text h1 {
         font-size: calc(2.0em + 1.7vw);
     }

     .about-body {
         padding-top: 8%;
     }
}

/*iPhone 5 landsape*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
   

    .banner-text h1 {
        font-size: calc(1.5em + 1.2vw);
    }

    .social-links {
        margin-top: 1.5em;
    }
}

/*iPhone 5 portrait*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

    .contact-list i {
        font-size: 19px;
    }

    .about-grid img {
        height: 230px !important;
        width: 230px !important;
    }
}

@media (min-width: 100px) {
    .mdl-grid {
        padding: 0px !important;
    }
}

/* iPad portrait & landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* Landing */

    .banner-text {
        margin-top: 20%;
    }
    
    .social-links {
        width: 50%;
    }
}

/* iPhone X landscape*/

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .banner-text {
        margin-top: 5%;
    }

    .banner-text h1 {
        font-size: calc(2.0em + 1.7vw);
    }

    .about-body {
        padding-top: 5%;
    }
}


